# local
local~
*~
.vscode

# Logs
logs
*.log
npm-debug.log*

# Intermediate storage
tmp
.tmp

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Generated folders
build
dist
release
tests/vue-clock-test.bundle.js
